.article {
  a {
    text-decoration: underline solid $green;
  }

  .article-image {
    max-width: 600px;
    margin-bottom: 20px;
  }

  .article-embedded-image {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
}

.article-map {
  max-width: 600px;
  max-height: 500px;

  a {
    text-decoration: none;
  }
}
