.article {
  .article-body {
    a {
      color: $green;

      &:hover {
        border-bottom: 2px solid $green;
      }
    }

    .transcript {
      margin-bottom: 15px;
      display: flex;
      max-width: 300px;

      .icon {
        font-size: 55px;
        line-height: 0;
      }
    }
  }

  .article-image {
    max-width: 600px;
  }
}

.article-map {
  max-width: 600px;
  max-height: 500px;
}
