.card-gallery-container {
  background-color: $primary;
  padding-top: 1em;
}

.card-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  margin-bottom: 10px;

  .card {
    border: 3px solid $light;

    .card-content {
      position: relative;
      background-color: $dark;
      color: $light;
      font-size: 16px;
      width: 400px;
      height: 400px;
      padding: 2em;

      .card-header {
        font-size: 24px;
        margin-bottom: 1em;
      }

      .card-footer {
        position: absolute;
        bottom: 2em;
      }
    }
  }
}
