.card-gallery-container {
  background-color: $gold;
  padding-top: 1em;
}

.card-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  .card {
    margin: 0 10px 10px 0;
    flex-grow: 1;
    flex-shrink: 0;

    .card-body {
      background-color: $dark;
      color: $light;
      width: 400px;
      height: 400px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: $rounded;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
    }
  }
}
