.contact {
  background-color: $gold;
  color: $light;
  margin-bottom: 2em;

  h1,
  h2,
  h3,
  h4 {
    color: $light;
  }

  a {
    border-bottom: 2px solid $light;
  }

  .call-to-action {
    margin: 15px 0 35px 0;
    border-bottom: none;

    a {
      color: $light;
      border: 2px solid $light;
      border-radius: $rounded;
      padding: 15px;

      &:hover {
        background-color: $light;
        border-bottom: none;
        color: $gold;
      }
    }
  }

  #mailto {
    margin-left: 10px;
  }
}
