.call-to-action {
  color: $light;
  background-color: $dark-green;
  padding: 15px;
  display: inline-block;
  font-family: 'Arvo', 'sans-serif';
  border-radius: $rounded;

  &:hover {
    background-color: darken($dark-green, 3%);
  }

  span {
    border-bottom: none;

    &:hover {
      border-bottom: none;
    }
  }
}
