.contact {
  background-color: $green;
  color: $light;
  margin-bottom: 2em;

  h1,
  h2,
  h3,
  h4 {
    color: $light;
  }

  .call-to-action {
    color: $light;
    border: 2px solid $light;
    border-radius: $rounded;
    font-family: 'Arvo', 'sans-serif';
    display: inline-block;
    padding: 15px;
    margin-bottom: 15px;

    &:hover {
      background-color: $light;
      color: $green;
    }

    span {
      border-bottom: none;

      &:hover {
        border-bottom: none;
      }
    }
  }
}
