.entry-tags {
  display: flex;
  flex-wrap: wrap;
  font-size: $font-medium;

  .tag {
    padding: 5px 10px;
    border: 2px solid $primary;
    margin: 0 5px 5px 0;
    background-color: $off-light;

    &:hover {
      background-color: $primary;
    }

    span {
      border-bottom: none;
    }
  }
}
