.entry-tags {
  display: flex;
  flex-wrap: wrap;

  .tag {
    padding: 5px 10px;
    border: 2px solid $dark;
    margin: 0 5px 5px 0;
    background-color: $off-light;
    border-radius: $rounded;

    &:hover {
      background-color: $light;
    }

    &:hover span {
      border-bottom: 2px solid $green;
    }

    span {
      border-bottom: none;
    }
  }
}
