.events {
  display: flex;
  flex-wrap: wrap;

  .event {
    width: 500px;
    margin: 0 15px 15px 0;
    border-radius: $rounded;

    .event-image {
      border-radius: $rounded $rounded 0 0;
      width: 500px;
      height: 500px;
      object-fit: cover;
    }

    .event-body {
      padding: 15px;
      background-color: $light;
      border-radius: 0 0 $rounded $rounded;

      .headline {
        display: flex;
        align-items: baseline;

        .title {
          margin-right: 15px;
        }
      }
    }
  }
}

.event-calendar .fc-view-container {
  background-color: $light;
}
