.upcoming-events {
  display: flex;
  flex-wrap: wrap;

  .event {
    width: 550px;
    margin: 0 15px 15px 0;

    .event-image {
      width: 550px;
      height: 500px;
      object-fit: cover;
      border-radius: $rounded $rounded 0 0;
    }

    .event-body {
      padding: 15px;
      background-color: $light;
      border-radius: $rounded;

      .headline {
        display: flex;
        align-items: baseline;

        .title {
          padding-bottom: 3px;
          margin: 0 15px 10px 0;
          border-bottom: 2px solid transparent;
        }
      }
    }
  }

  a {
    &:hover .title {
      border-bottom: 2px solid $gold !important;
    }
  }
}

.event-calendar .fc-view-container {
  background-color: $light;

  a.fc-event {
    cursor: pointer;
    background-color: $gold;
    border-color: $gold;

    &:hover span.fc-title {
      border-bottom-color: $light;
    }
  }
}
