footer {
  background-color: $dark;
  color: $light;
  padding: 2.5em 0;

  h4 {
    color: $light;
  }
  
  section.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .footer-content {
      display: flex;
      flex-flow: row wrap;
      flex-basis: 33%;
      min-width: 445px;

      a {
        margin-right: 1.5em;
      }

      #copyright {
        flex-basis: 100%;
        margin-top: 2em;
      }
    }

    #ampLogo {
      width: 120px;
      align-self: flex-end;
    }

    .social {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-basis: 33%;

      a {
        font-size: 60px;
        margin-left: 20px;
      }
    }

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: $gold;
      }
    }
  }

  #bibliographyLink:hover {
    color: $gold;
  }
}
