footer {
  text-align: center;
  justify-content: center;
  background-color: $dark;
  color: $light;

  section {
    margin: 60px 0;

    h3 {
      color: $light;
    }

    a {
      color: #fff;
      text-decoration: none;
    }

    a:hover {
      color: $green;
    }

    .social {
      width: 200px;
      margin: 0 auto;
      display: flex;
      justify-content: center;

      a {
        margin: 0 20px;
        font-size: 30px;
      }
    }
  }
}
