header {
  background-color: $dark;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Arvo', 'sans-serif';

  a {
    padding: 16px;
    color: $light;

    span {
      border-bottom: 2px solid $dark;
      padding-bottom: 5px;
    }

    &:hover {
      span {
        border-bottom: 2px solid $light;
      }
    }
  }

  #home {
    margin-right: auto;
  }
}
