.rich-text {
  padding: 1em 0;
  border-bottom: 1px solid $dark;

  *:last-child {
    margin-bottom: 0;
  }

  .image-caption {
    font-size: $font-medium-small;
    font-style: italic;
    margin-left: 1em;
  }
}
