.team {
  .team-container {
    display: flex;
    flex-wrap: wrap;

    .team-member {
      width: 550px;
      margin: 0 15px 15px 0;

      .team-member-body {
        padding: 15px;
        background-color: $light;

        .headline {
          display: flex;
          align-items: baseline;

          .name {
            margin-right: 15px;
          }
        }
      }
    }
  }
}
