/**********
* COLORS *
***********/
$dark: #000;
$light: #fff;
$off-light: #eee;
$primary: #c7b600;

/*************
* FONT SIZES *
*************/
$font-small: 12px;
$font-medium-small: 16px;
$font-medium: 18px;
$font-medium-large: 24px;
$font-large: 36px;
$font-xlarge: 48px;

/***************
* SCREEN SIZES *
***************/
$laptop-large: 1400px;
$laptop: 1100px;
$tablet: 810px;
$mobile: 450px;
