/**********
* COLORS *
***********/
$dark: #111;
$light: #fff;
$off-light: #eee;
$gold: #fce566;
$green: #00ad88;
$blue: #435bd4;

/*************
* FONT SIZES *
*************/
$xs-size: 10px;
$s-size: 12px;
$sm-size: 16px;
$m-size: 18px;
$ms-size: 20px;
$ml-size: 26px;
$l-size: 32px;
$xl-size: 42px;
$xxl-size: 54px;

/****************
* MISCELLANEOUS *
****************/
$rounded: 3px;
