/**********
* COLORS *
***********/
$dark: #000;
$light: #fff;
$off-light: #eee;
$primary: #c7b600;

/*************
* FONT SIZES *
*************/
$font-s: 12px;
$font-ms: 16px;
$font-m: 18px;
$font-ml: 24px;
$font-l: 36px;

/***************
* SCREEN SIZES *
***************/
$laptop: 1024px;
